form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  label {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .todo-item h3 {
    margin: 0;
  }
  
  .todo-item button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todo-item button:hover {
    opacity: 0.8;
  }